li.project
  a.github
    img(src='img/github.png' width='40')
  p.lang Lang
  p.forks
    span 50
    img(src='img/fork-icon.png' width='22')
  p.stars
    span 300
    img(src='img/star-icon.png' width='18')
  h2.name Project 1
  p.authors Authors
  p.desc Description
