%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info,
  {parse_transform, lager_transform}
]}.

%% == Dependencies ==

{deps, [
  {egithub, "0.2.9"}
]}.

%% == EDoc ==

{edoc_opts, [
  {report_missing_types, true},
  {source_path, ["src"]},
  {report_missing_types, true},
  {todo, true},
  {packages, false},
  {subpackages, false}
]}.

%% == Dialyzer ==

{dialyzer, [
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "inaka_github"},
  {base_plt_location, "."},
  {base_plt_prefix, "inaka_github"}
]}.

%% == Release ==

{relx, [{release, {inaka_github, "0.1.0"},
          [inaka_github],
          [ {dev_mode, false}
          , {include_erts, true}
          ]},
        {sys_config, "./config/app.config"},
        {extended_start_script, true}
       ]}.

%% == Jiffy ==
{overrides, [{override, jiffy, [{plugins, [pc]}, {artifacts, ["priv/jiffy.so"]}, {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}]}]}.
