<section>
    <div class="container" id="events">
      <div class="col-md-12">
        <div class="p-5">
          <h2 class="display-4">Events</h2>
          <p>This are our events.</p>
        </div>
      </div>
  </section>

  <section class="spacer-down">
    <div class="container">
      <div class="row justify-content-start">
        {for event in events}
        <div class="col-md-4">
          {if event.name}
          <div class="card">
            <img class="card-img-top" src="images/cards/card-erlang.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><a href="{event.projectsUrl}">{event.name}</a></h5>
              <p class="card-text">{event.description}</p>
            </div>
            <div class="card-footer">
              <span class="badge badge-success">{event.primaryLanguage.name}</span>
              <span class="badge badge-dark"><a class="white-link" href="{project.projectsUrl}"><i class="fab fa-github"></i></a>
              </span>
            </div>
          </div>
          {/if}
        </div>
        {/for}
      </div>
    </div>
  </section>