<!DOCTYPE html>
<html lang="en">

{>header}

<body>

 {>navigation}

  {>headerSection}

  {>whoWeAreSection}

  {>ourHistorySection}

  {>contactUsSection}

  {>eventsSection}

  {>projectsSection}

  <!-- Footer -->
  <footer class="py-5 bg-inaka">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Open Inaka 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>