<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="p-5 d-none d-md-block">
            <img class="img-fluid rounded-circle" src="./images/history.jpg" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="p-5">
            <h2 class="display-4">Proud of our history</h2>
            <p>This <a href="https://medium.com/@x_inaka/from-company-to-community-fa3c7ab041bf">amazing blogpost</a>
              explains our origins and history after 7+ years of existence. Please take a look.</p>
          </div>
        </div>
      </div>
    </div>
  </section>