<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 order-2">
          <div class="p-5 d-none d-md-block">
            <img class="img-fluid rounded-circle" src="./images/whoweare.png" alt="">
          </div>
        </div>
        <div class="col-md-8 order-1">
          <div class="p-5">
            <h2 class="display-4">Who we are</h2>
            <p>Inaka is a community of open-source enthusiasts (developers, PMs, devops, QA experts, etc.).</p>
            <p>We maintain all the repos listed below (and some others, too).</p>
          </div>
        </div>
      </div>
    </div>
  </section>