[
 {
   inaka_github,
   [
    {default_authors, ["Inaka"]},
    %% {github_user, ""},
    %% {github_password, ""},
    {ignore,
     [
      "dm-mnesia",
      "syslog",
      "pong",
      "talks",
      "afamados-client",
      "afamados-server",
      "ypnhot-ios",
      "ypnhot-server",
      "colorful-friends-ios",
      "colorful-friends-server",
      "fyp-ios",
      "fyp-server",
      "ibetyou-server",
      "ibetyou-ios",
      "sumo_rest",
      "canillita",
      "fetjaba",
      "match_stream",
      "eclock",
      "gen_dns",
      "INSocketListener",
      "match_stream",
      "tinyerl"
     ]
    },
    {include,
     [
      "freckle_for_mac",
      "assisted_workflow",
      "find_rebar_deps",
      "lucene_server",
      "spawnedshelter",
      "worker_pool",
      "erlang-katana"
     ]
    }
   ]
 }
].
