[
 {
   inaka_github,
   [
    {default_authors, ["Inaka"]},
    {github_user, "inakaio"},
    {github_password, "qZwon0OifmbVE0A"},
    {ignore,
     [
      "pong",
      "talks",
      "INSocketListener",
      "da-book"
     ]
    },
    {include,
     [
      "freckle_for_mac",
      "assisted_workflow",
      "find_rebar_deps",
      "lucene_server",
      "spawnedshelter",
      "worker_pool",
      "erlang-katana"
     ]
    }
   ]
 }
].
