//- index.jade
doctype html
html
  include ./includes/head.jade
  body#page-top(data-spy="scroll" data-target=".navbar-custom")
    include ./includes/header.jade
    div.container
      section.information
        h2
          | Who we are?
        div
          | Inaka is a community of open-source enthusiasts (developers, PMs, devops,
          | QA experts, etc.). We maintain all the repos listed in this page
          | (and some others, too).
        h2
          | Contact Us
        div
          | If you have questions, suggestions or comments about any of
          | these projects please contact the dev team at 
          a(href='mailto:inakos@googlegroups.com') inakos@googlegroups.com
        h2
          | Join us!
        div
          | Inaka is an #[strong open community]. If you want to be part of it, just follow
          | the instructions in our 
          a(href='https://github.com/inaka/guidelines') guidelines
          | .
      section#projects
        div#filters
          span SHOW
          a(href='#' data-lang='all') All
        ul
          include ./includes/projects.jade
