//- index.jade
doctype html
html
  include ./includes/head.jade
  body#page-top(data-spy="scroll" data-target=".navbar-custom")
    include ./includes/header.jade
    div.container
      section.information
        h2
          | The following is a list of all our open source projects.
        div
          | If you have questions, suggestions or comments about any of
          | these projects please contact the dev team on our public&nbsp;
          a(href='http://inaka.net/hipchat') Open-Source
          | &nbsp;hipchat room.
      section#projects
        div#filters
          span SHOW
          a(href='#' data-lang='all') All
        ul
          include ./includes/projects.jade
